.Header {
    background: #61dafb;
}

.Header ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Header a {
    text-decoration: none;
    color: black;
}
